### operações matemáticas

In [1]:
## soma
1 + 1

2

In [2]:
## subtração
5 - 1

4

In [3]:
## multiplicação
1 * 3

3

In [4]:
## divisão
1 / 2

0.5

In [5]:
## exponenciação
3 ** 2

9

In [6]:
## módulo (resto da divisão)
5 % 2

1

In [7]:
## expressões matemáticas
3 + 2 - 4

1

In [8]:
(3 + 2) * (4 + 1)

25

### tipos numéricos

In [9]:
type(1)

int

In [10]:
type(1.0)

float

### variáveis

In [11]:
## nome da variável não pode iniciar com números ou caracteres especiais
## nomes de variáveis é case sensitive
x = 1

In [12]:
x

1

In [13]:
x = x + 1

In [14]:
x

2

In [15]:
x += 1

In [16]:
x

3

In [17]:
X = 0

In [18]:
X

0

In [19]:
x

3

### strings

In [20]:
'nome_da_variavel'

'nome_da_variavel'

In [21]:
texto = 'nome_da_variavel'

In [22]:
texto

'nome_da_variavel'

In [23]:
type(texto)

str

In [24]:
print(texto)

nome_da_variavel

In [25]:
## strings são objetos do tipo string do python e possuem métodos próprios
mensagem = "Meu nome é {nome} e eu tenho {idade} anos de idade"
name = "Laercio Gil"
old = "30"
mensagem.format(nome = name, idade = old)

'Meu nome é Laercio Gil e eu tenho 30 anos de idade'

### Listas [ ]

In [26]:
## são estruturas de dados unidimensionais 
## que aceitam elementos de qualquer tipo de dados
lista = [1,2,3]

In [27]:
type(lista)

list

In [28]:
## listas aceitam outras listas como elementos (nested list)
lista = [1.0, "Hello", [1,2,3]]

In [29]:
lista

[1.0, 'Hello', [1, 2, 3]]

In [30]:
## acessando itens da lista por indexação
lista[2]

[1, 2, 3]

In [31]:
lista[2][1]

2

In [32]:
## acessando múltiplos valores por indexação com ':'
## valor a esqueda dos dois pontos é incluído no retorno
## valor a direita dos dois pontos é excluído no retorno
lista[1:2]

['Hello']

In [33]:
lista[1:]

['Hello', [1, 2, 3]]

In [34]:
lista[:2]

[1.0, 'Hello']

In [35]:
## caracteres de uma string podem ser acessados por indexação (slice)
texto

'nome_da_variavel'

In [36]:
texto[4]

'_'

In [37]:
texto[:4]

'nome'

### Dicionários { }

In [38]:
## Estrura de dados do tipo chave-valor
## pode guardar tipos distintos de dados

dic = {'valor1':1, 'valor2':2}

In [39]:
dic

{'valor1': 1, 'valor2': 2}

In [40]:
dic['valor1']

1

In [41]:
dic2 = {'lista':[1,2,3], 'texto':'ola'}

In [42]:
dic2['lista']

[1, 2, 3]

In [43]:
dic2['lista'][1]

2

### tuplas ( )

In [44]:
## em suma, são listas que não permitem 
## reatribuições de itens (são imutáveis)
t = (1, 2, 3)

In [45]:
t[0]

1

In [46]:
lista

[1.0, 'Hello', [1, 2, 3]]

In [47]:
lista[2] = 3

In [48]:
lista

[1.0, 'Hello', 3]

In [49]:
t[0] = 5

TypeError: 'tuple' object does not support item assignment

### booleanos

In [50]:
True

True

In [51]:
False

False

In [52]:
## comparação
1 == 1

True

In [53]:
x = 1

In [54]:
x == 2

False

In [55]:
x > 0

True

In [56]:
x >= 1

True

In [57]:
x <= 1

True

In [58]:
x < 1

False

In [59]:
x != 1

False

In [60]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-60-ecdac3dcabfd>, line 1)

In [61]:
## operadores lógicos
(x == 1) and (x >= 0)

True

In [62]:
(x == 1) and (x >= 2)

False

In [63]:
(x == 1) or (x >= 2)

True

### Condicional IF

In [64]:
## IF
y = 'Reprovado'

In [65]:
x = 4.5

In [66]:
if x > 7 :
    y = 'Aprovado'

In [67]:
y

'Reprovado'

In [68]:
## ELSE
if x > 7:
    y = 'Aprovado'
else:
    y = 'Reprovado'

In [69]:
y

'Reprovado'

In [70]:
## ELIF
if x > 7:
    y = 'Aprovado'
elif x > 4:
    y = 'Recuperação'
else:
    y = 'Reprovado'

In [71]:
y

'Recuperação'

### Iterações - Estruturas de repetição - Loops
#### FOR

In [72]:
sequencia =  [1, 2, 3, 4, 5, 6]

In [73]:
for elemento in sequencia:
    print('mensagem ' + repr(elemento))

mensagem 1
mensagem 2
mensagem 3
mensagem 4
mensagem 5
mensagem 6

In [74]:
rg = range(0, 10)

In [75]:
rg

range(0, 10)

In [76]:
type(rg)

range

In [77]:
for i in rg:
    print('#' * i)

#
##
###
####
#####
######
#######
########
#########

#### WHILE

In [78]:
i = 1

while i < 5:
    print('i vale: {}'.format(i))
    i += 1

i vale: 1
i vale: 2
i vale: 3
i vale: 4

In [79]:
## filling empty list with FOR loop
out = []
x = [1, 2, 3, 4]

In [80]:
for item in x:
    out.append(item**2)
out

[1, 4, 9, 16]

In [81]:
## creating a list with one line iteration using LIST COMPREHENSION
[item**2 for item in x]

[1, 4, 9, 16]

### Funções

In [82]:
## inicia-se a codificação de uma função com a palavra reservada 'def'
## (definição) - def nome_da_funcao(parametros):

def minhaFuncao(par):
    print(par)

In [83]:
## ver assinatura da funcao
minhaFuncao

In [84]:
## chamar função
minhaFuncao('Hello World with functions')

Hello World with functions

In [85]:
## função com retorno
def mySquare(num):
    x = num ** 2
    return x

In [86]:
mySquare

In [87]:
num = 9

In [88]:
square = mySquare(num)

In [89]:
square

81

### Funções Lambda

In [90]:
## são funções anônimas geralmente de código simples
## utilizadas poucas vezes in line - lambda parametros: corpo da função

lambda par: par ** 2

In [91]:
seq = list(range(1, 6))

In [92]:
seq

[1, 2, 3, 4, 5]

In [93]:
## uso da função map para iterar uma lista e aplicar uma função a cada elemento
list(map(mySquare, seq))

[1, 4, 9, 16, 25]

In [94]:
## uso da função map com função lambda
list(map(lambda x: x**2, seq))

[1, 4, 9, 16, 25]

In [95]:
## uso da função filter para aplicar uma função de filtro a uma lista
## retornando uma outra lista contendo apenas os elementos que obedecem
## à condição escrita na função lambda

# retornando apenas elementos pares
list(filter(lambda item: item % 2 == 0, seq))

[2, 4]

In [96]:
# retornando apenas elementos ímpares
list(filter(lambda item: item % 2 == 1, seq))

[1, 3, 5]

### Métodos

In [97]:
## Python é uma linguagem orientada a objetos
## assim, grande parte dos objetos possuem funções, isto é, métodos que
## determinam o comportamento desses objetos.

txt = 'Olá, meu nome é Laercio'
type(str)

type

In [98]:
# método upper da classe str
txt.upper()

'OLÁ, MEU NOME É LAERCIO'

In [99]:
txt

'Olá, meu nome é Laercio'

In [100]:
# método split da classe str
txt.split()

['Olá,', 'meu', 'nome', 'é', 'Laercio']

In [101]:
# método split recebendo como parâmetro o caractere de separação
txt.split(',')

['Olá', ' meu nome é Laercio']

In [102]:
# função length
len(txt.split())

5

In [103]:
len(txt.split(','))

2

In [104]:
lista = [1, 2, 3]
lista

[1, 2, 3]

In [105]:
# método append da classe list - adiciona um elemento no final da lista
lista.append(4)
lista

[1, 2, 3, 4]

In [106]:
# método pop retira e retorna o último elemento da lista
lista.pop()

4

In [107]:
lista

[1, 2, 3]

In [108]:
# método pop também retira e retorna um elemento pelo índice
lista.pop(1)

2

In [109]:
lista

[1, 3]

In [110]:
# operador in
'x' in [1, 2, 3]

False

In [111]:
'x' in ['x', 'y', 'z']

True

In [112]:
x

[1, 2, 3, 4]