In [1]:
import numpy as np
import pandas as pd

In [10]:
# Níveis de Índice
np.random.seed(101)
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]

In [11]:
hier_index = list(zip(outside, inside))

In [12]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [13]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [14]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [15]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, 
                  columns=['A', 'B'])

In [16]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [17]:
# acessando por índices multiníveis

df.loc['G1']

          A         B
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [18]:
df.loc['G1'].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [19]:
# nome dos índices
df.index.names

FrozenList([None, None])

In [22]:
df.index.names = ['Grupo', 'Numero']

In [23]:
df

                     A         B
Grupo Numero
G1    1       2.706850  0.628133
      2       0.907969  0.503826
      3       0.651118 -0.319318
G2    1      -0.848077  0.605965
      2      -2.018168  0.740122
      3       0.528813 -0.589001

In [24]:
# acessando utilizando método xs (cross section)

df.xs('G1')

               A         B
Numero
1       2.706850  0.628133
2       0.907969  0.503826
3       0.651118 -0.319318

In [25]:
# especificando o nível
df.xs(1, level='Numero')

              A         B
Grupo
G1     2.706850  0.628133
G2    -0.848077  0.605965